<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test">
	<listeners>
        <listener class-name="listnerPackage.AnnotationTransformer"/>
        <listener class-name="listnerPackage.CustomizedCustomListener"/>
    </listeners>
    <test name="POMSETUP TEST">
		<packages>
			<package name ="pomSetup"/>
		</packages>
	</test>
	<test name="LISTNER TEST">
		<packages>
			<package name ="com.sidmukhe.maventest"/>
		</packages>
	</test>
</suite>